{
  "presets": [
    [
      "@oigroup/babel-preset-lightscript",
      {
        "env": {
          "targets": { "node": "6.9" }
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-transform-charcodes"
  ]
}
